<div id="barra-comparador" class="barra-comparador" data-visible="false">
  <div class="barra-comparador__inner">
    <p class="barra-comparador__texto" id="barra-comparador-texto">0 productos seleccionados para comparar (máx. 5)</p>
    <div class="barra-comparador__acciones">
      <button type="button" class="barra-comparador__vaciar" id="barra-comparador-vaciar">Vaciar</button>
      <a href="#" id="barra-comparador-link" class="boton boton--cta boton--pequeno">Ver comparativa</a>
    </div>
  </div>
</div>
