{% macro url(producto, afiliados) -%}
  {%- if producto.afiliado.red == "amazon" -%}
    https://www.amazon.es/dp/{{ producto.afiliado.asin }}?tag={{ afiliados.amazon.tag }}
  {%- elif producto.afiliado.red == "awin" -%}
    https://www.awin1.com/cread.php?awinmid={{ afiliados.awin.padelPoint.advertiserId }}&awinaffid={{ afiliados.awin.affiliateId }}&clickref=&p={{ producto.afiliado.urlDestino | urlencode }}
  {%- endif -%}
{%- endmacro %}

{% macro nombreTienda(producto, afiliados) -%}
  {%- if producto.afiliado.red == "amazon" -%}
    Amazon
  {%- elif producto.afiliado.red == "awin" -%}
    {{ afiliados.awin.padelPoint.nombre }}
  {%- endif -%}
{%- endmacro %}
