<header class="site-header">
  <div class="contenedor site-header__inner">
    <a href="/" class="site-header__logo">
      Padel<span class="site-header__logo-acento">Selecto</span>
    </a>
    <nav class="site-header__nav">
      <a href="/palas/">Palas</a>
      <a href="/zapatillas/">Zapatillas</a>
      <a href="/ropa/">Ropa</a>
      <a href="/accesorios/">Accesorios</a>
    </nav>
  </div>
</header>
